body {
    direction: rtl;
    text-align: right;
}

 .sidebar {
    float: right;
}

.content-wrapper {
    margin-right: 0;
    margin-left: 250px;
}
th, td {
    text-align: right !important;
}
#crudTable_wrapper #crudTable thead > tr > th:not(.sorting_disabled), #crudTable_wrapper #crudTable thead > tr > td, #crudTable_wrapper table.dataTable thead > tr > th:not(.sorting_disabled), #crudTable_wrapper table.dataTable thead > tr > tdĞ
{
    text-align: right !important;
}
.app-header.bg-light .navbar-brand {
    opacity: 1 !important;
}